#create-goods {
  padding: 15px 30px;

  h4 {
    text-align: center;
    margin: 0 0 10px;
  }

  .required {
    color: red;
  }

  input {
    width: 100%;
    display: block;
    margin: 15px 0 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
  }

  .submit-btn {
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 7px 15px;
    background: #39f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    &:active {
      border: 1px solid #0000FF;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }
}