#order {
  .order-table {
    width: 100%;
    text-align: center;
  }

  .tips {
    text-align: center;
  }

  thead {
    background: #F6F6F6;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
  }

  tbody tr {
    line-height: 60px;
  }

  td, th {
    border-bottom: 1px solid #cccccc;
  }

  .delete-btn {
    padding: 5px 20px;
    font-size: 14px;
    color: #FF0000;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: #FAFAFA;

    &:hover {
      background: bisque;
      border: 1px solid lightcoral;
      color: #FFFFFF;
    }
  }
}