#mall {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    display: inline-block;
    width: 170px;
    min-height: 280px;
    border: 1px solid #ccc;
    margin: 15px;
    padding-bottom: 10px;

    p {
      font-size: 14px;
      padding-left: 10px;
      margin-bottom: 5px;
    }

    .img-wrapper {
      box-sizing: border-box;
      padding: 0 5px;
      height: 180px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 100%;
    }

    .add-btn {
      float: right;
      margin-right: 10px;
      font-size: 30px;
      color: gray;
      cursor: pointer;

      &:hover {
        color: #39f;
      }
    }
  }

  h5 {
    margin: 0;
    padding-left: 10px;
    overflow-x: auto;
    font-size: 16px;
  }
}