@import "../../styles/global";

header {
  height: @header-height;
  background-color: @header-bg;

  li {
    display: inline-block;
    margin: 0 30px;
    line-height: @header-height;
    height: @header-height;
  }

  .icon {
    vertical-align: middle;
    margin-right: 5px;
  }

  .link.active {
    background: @active-link-bg;
    color: @white;
  }

  .link {
    color: @gray;
    display: inline-block;
    height: @header-height;
  }
}