@import "styles/global";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #EEEEEE;
}

ul {
  list-style: none;
  margin: 0;
}

main {
  box-sizing: border-box;
  margin: 30px 20px 0;
  padding: 15px;
  height: calc(100vh - @header-height - @footer-height - 30px);
  background: @white;
  overflow: auto;
}

footer {
  text-align: center;
  line-height: @footer-height;
  font-size: 14px;
  color: #666666;
}